* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: center;
}


.punishment {
    margin: 2rem;
    background-color: #232323;
    border-radius: 20px;
    color: #ccc;
    padding: 25px;
    max-width: 900px;
    line-height: 1.6;
}

.punishment__heading {
    display: inline-block;
    padding: 15px;
}

.punishment__heading--user {
    color: crimson;
}

.punishment__heading--id {
    color: #0088a9;
}

.punishment__heading--remove {
    float: right;
    background-color: crimson;
}

.punishment__info ul {
    list-style-type: none;
}

.punishment__info ul li {
    border: 1px solid #0088a9;
    margin: 5px;
    padding: 4px;
    border-radius: 5px;
}

.punishment__info--label {
    font-size: larger;
    font-weight: 500;
    color: crimson
}